<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.cdek.dao.mapper.FiasMapper">

    <resultMap id="fiasMap" type="com.cdek.entity.Fias">
        <result column="id" property="id"/>
        <result column="object_id" property="objectId"/>
        <result column="object_guid" property="objectGuid"/>
        <result column="change_id" property="changeId"/>
        <result column="name" property="name"/>
        <result column="type_name" property="typeName"/>
        <result column="level" property="level"/>
        <result column="prev_id" property="prevId"/>
        <result column="next_id" property="nextId"/>
        <result column="update_date" property="updateDate"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="is_actual" property="isActual"/>
        <result column="is_active" property="isActive"/>
    </resultMap>


    <select id="insertFias" resultType="java.lang.String">
        INSERT INTO address_object
        (id,
         object_id,
         object_guid,
         change_id,
         name,
         type_name,
         level,
         prev_id,
         next_id,
         update_date,
         start_date,
         end_date,
         is_actual,
         is_active
    )
        VALUES (#{entity.id},
                #{entity.objectId},
                #{entity.objectGuid},
                #{entity.changeId},
                #{entity.name},
                #{entity.typeName},
                #{entity.level},
                #{entity.prevId},
                #{entity.nextId},
                #{entity.updateDate},
                #{entity.startDate},
                #{entity.endDate},
                #{entity.isActual},
                #{entity.isActive}
          ) RETURNING *
    </select>

    <select id="get" resultMap="fiasMap">
        WITH RECURSIVE r AS (
            SELECT distinct
                a1.id,
                a1.object_id,
                a1.object_guid,
                a1.name,
                a1.type_name,
                a1.level
            FROM address_object as a1
            WHERE a1.object_id = = #{objectId}

            UNION

            SELECT distinct
                a2.id,
                a2.object_id,
                a2.object_guid,
                a2.name,
                a2.type_name,
                a2.level
            FROM address_object as a2
                     INNER JOIN r ON a2.object_id = r.object_guid
        )
        SELECT *
        FROM r
        order by aolevel ASC
    </select>


</mapper>